.cale-body {
  height: 1rem;
  padding: 0 .24rem;
  border-bottom: 0.01rem solid #ececee;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  color: #3d3d3d;
  font-weight: 300;
  font-size: .3rem;
  overflow: hidden;
}

.cale-body .input-cale {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.cale-body input {
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  margin-right: 0.1rem;
}

.building {
  margin: 0.2rem 0;
  background-color: #f1f1f1;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  flex: 1;
  background-color: #FFC601;
  border-radius: .08rem;
  color: #fff;
  height: .98rem;
}

.building p {
  font-size: 0.36rem;
  margin-left: 0.1rem;
  font-weight: 100;
}

.building i {}
