.title-body {
  position: relative;
  height: 1.35rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.title-body img {
  width: 1.3rem;
  height: 0.4rem;
  padding-right: 0.2rem;
}

.title-body .title-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 0.1rem;
}

.title-body .title-content p {
  font-size: 0.38rem;
  color: #ffc601;
  font-weight: 700;
}

.title-body .date {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 3.75rem;
  height: 0.45rem;
  border: 0.01rem solid #ccc;
}

.title-body .date input {
  margin-left: 0.01rem;
  width: 90%;
  height: 90%;
  border: 0;
  line-height: 1;
  outline: none;
  box-shadow: none;
  border-color: #fff;
  color: #000;
  font-size: .2rem;
  background-color: #f7f7f7;
}

.title-body .date .icon {
  font-size: .2rem;
}

.title-body .unit {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  font-size: .1rem;
  color: #ccc;
  font-weight: 100;
}

.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-title .icon {
  display: inline-block;
  font-size: .2rem;
  font-weight: 300;
  color: #999;
}
